# 通用设置
root = true

# C# 文件
[*.cs]
indent_style = space
indent_size = 4
csharp_new_line_before_open_brace = never
csharp_new_line_before_else = false
csharp_new_line_before_catch = false
csharp_new_line_before_finally = false
csharp_space_before_colon_in_inheritance_clause = false
csharp_preserve_single_line_statements = false